// colours
$primary-color: #0856e2;
$secondary-color: #eaf0f6ea;
$background-color: white;
$toggle-active: #0856e2;
$toggle-inactive: #ccc;

// sizes
$border-radius: 8px;
$circle-size: 8rem;
$toggle-width: 3rem;
$toggle-height: 1.5rem;
$slider-size: 1.25rem;
